
html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
      background: linear-gradient(-45deg, #a47c25, #4c7171, #5b487e, #386f56);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }

  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 95% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

h1 {
    display: block;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 300px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -10px;
    color: #9a9b9c;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h3 {
    display: block;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
    color: #acadad;
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    background-color: #f4ab0e;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9a9b9c;
    border-radius: 10px;
    background-color: #4c7171;
  }

  h5 {
    font-family: 'Roboto Condensed', 'sans-serif';
    color:#acadad;
}

#function {
    align-items: center;
    text-align: center;
    justify-content: center;
}

section {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 40px;
}

.button {
    background-color: #ca982a;
    color: #dee4e4;
    border-radius: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover {
    background-color: #f4ab0e;
    color: #f6f9f7;
}

.resetButton {
    background-color: #ca982a;
    color: #dee4e4;
    border-radius: 10px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.resetButton:hover {
    background-color: #f4ab0e;
    color: #f6f9f7;
}

.answer {
    color: #acadad;
    margin-top: 70px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button-container {
    margin: auto;
    width: 100px;
}

.reset-button-container {
    margin: auto;
    width: 300px;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: -5em;
    left: 20px;
}

@media only screen and (max-width: 1300px) {
    h1 {
      font-size: 175px;
      display: block;
      letter-spacing: 5px;
    }
    .button {
        font-size: 40px;
    }
    .resetButton {
        font-size: 40px;
    }
    .answer {
        font-size: 40px;
    }
    footer {
        bottom: 5em;
    }

}

@media only screen and (max-width: 895px) {
    h1 {
      font-size: 100px;
      display: block;
    }
    h3 {
        font-size: 25px;
    }
    .button {
        font-size: 30px;
    }
    .resetButton {
        font-size: 30px;
    }
    .answer {
        font-size: 25px;
    }

}

@media only screen and (max-width: 600px) {
    body {
        background-size: 400% 200%;
      }
    h1 {
      font-size: 40px;
    }
    h3 {
        margin-top: 5px;
        font-size: 15px;
    }
}