
html, body {
    width: 100%;
    height: 100%;
  }

h1 {
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 250px;
    letter-spacing: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -10px;
    color: #9a9b9c;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    opacity: 0.5;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h3 {
    opacity: 0.5;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    width: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #acadad;
    background-color: white;
    border-radius: 10px;
}
h5 {
    font-family: 'Roboto Condensed', 'sans-serif';
    color:#acadad;
}
  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    background-color: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9a9b9c;
    border-radius: 10px;
    background-color: #acadad;
  }

#function {
    align-items: center;
    text-align: center;
    justify-content: center;
}

section {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 40px;
}

.button {
    background-color: #ca982a;
    color: #dee4e4;
    border-radius: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover {
    background-color: #f4ab0e;
    color: #f6f9f7;
    cursor: pointer;
}

.answer {
    opacity: 0.5;
    text-align: center;
    color: #acadad;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}

.button-container {
    margin: auto;
    width: fit-content;
}

.reset-button-container {
    margin: auto;
    width: 300px;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: -40%;
    left: 20px;
}

@media only screen and (max-width: 1300px) {
    h1 {
      font-size: 175px;
    }
    .button {
        font-size: 40px;
    }
    .resetButton {
        font-size: 40px;
    }
    .answer {
        font-size: 40px;
    }

}

@media only screen and (max-width: 895px) {
    h1 {
      font-size: 100px;
    }
    h3 {
        font-size: 25px;
    }
    .button {
        font-size: 30px;
    }
    .resetButton {
        font-size: 30px;
    }
    .answer {
        font-size: 25px;
    }

}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 60px;
    }
    h3 {
        margin-top: 15px;
        font-size: 20px;
    }
    .button {
        font-size: 30px;
    }
    .resetButton {
        font-size: 30px;
    }
    .answer {
        font-size: 25px;
    }
}